		</div>
		<div class="footer">
			<p class="tiny_text"> 
			  &copy; 2015 mypapers <br />
				<script type="text/javascript">
					document.write("This page was last modified on: " + document.lastModified +" UTC+2");
				</script>
				<br /><br />
			</p>
		</div>				
		<!-- Smooth scrolling --> 
		<script type="text/javascript" src="mypapers/Template/javascript/jquery.min.js"></script>		
		<script type="text/javascript" src= "mypapers/Template/javascript/smoothscroll.js"></script>
		<!-- Fixed nav bar --> 
		<script type="text/javascript" src="mypapers/Template/javascript/fixnav.js"></script>		
	</body>	
</html>
