<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="keywords" content="mypapers, paper, organization />
		<meta name="description" content="Giorgos Kappes's personal web site"/>
		<meta name="author" content="Giorgos Kappes"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>mypapers</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
	</head>
	<body>
		<div class="header">											
			<div class="profile_container">
				<div class="profile_image"></div>
				<div class="profile_text">
					<a class="anchor" id="top"></a><h1 class="headertext"> mypapers </h1>
					<h1 class="subheadertext"> A simple tool to organize research papers. </h1>
				</div>
			</div>
			<div class="nav" id="nav">
				<ul>
					<li><a href="#caching" class="smoothScroll">Caching </a></li>
				</ul>
			</div>				
		</div>	
		<div class="container_main">	
			
			<div class="section_first"> <a class="anchor" id="Caching"></a>
				<div class="row">
					<div class="row_in">
						<div class="col_c">
							<div class="backtotop"><a href="#top" class="smoothScroll"><span>back to top</span></a></div>
							<h3> Publications and Talks</h3> 
							<p class="medium_text"> 
								Following is a list of my recent publications and invited talks:
							</p>
						</div>
						<div class="col_c">
							<h4> Conference Papers </h4>
							<ul class="small_text">
								<li> 	Giorgos Kappes, Andromachi Hatzieleftheriou, Stergios V. Anastasiadis, 
									Virtualization-aware Access Control for Multitenant Filesystems, <b> IEEE 
									International Conference on Massive Storage Systems and Technology (MSST)</b>, 
									Santa Clara, CA, USA, June 2014.
									(<a href="http://www.storageconference.us/2014/Papers/10.Virtualization.pdf">Paper</a>,
									<a href="files/Kappes_msst.pdf"> Presentation</a>).<br />
								</li>
							</ul>
							<h4> Technical Reports </h4>
							<ul class="small_text">
								<li> 	Giorgos Kappes, Andromachi Hatzieleftheriou, Stergios V. Anastasiadis, 
									Dike: Virtualization-aware Access Control for Multitenant Filesystems. 
									<b> Technical Report DCS2013-1, Department of Computer Science, University 
									of Ioannina</b>, February 2013. 
									<a href="http://srg.cs.uoi.gr/pdf/tr-dcs-2013-1.pdf">(Paper)</a>.<br />
								</li>  			
							</ul> 
							<h4> Master's Thesis </h4>
							<ul class="small_text">
								<li> <b>Scalable Access Control for Secure Multi-Tenant Filesystems.</b> 
									Giorgos Kappes, thesis supervisor: Stergios V. Anastasiadis. Master Thesis, 
									Department of Computer Science and Engineering, University of Ioannina, Greece, 
									October 2013. 
									(<a href="files/publications/msc.pdf">Text</a>, 
									<a href="files/publications/msc_presentation.pdf"> Presentation</a>).<br />
								</li>  			
							</ul>								
							<h4> Invited Talks </h4>
							<ul class="small_text">								
								<li><b>15th TERENA TF-Storage Task Force Meeting</b>, “Virtualization-aware 
									Access Control for Multitenant Filesystems”, 22 September 2014.
									(<a href="https://www.terena.org/activities/tf-storage/ws17/slides/gkappes_presentation.pdf">Presentation</a>).<br />
								</li>
							</ul>
						</div>
					</div>
				</div>									
			</div>				
			<div class="cleared"></div>
		</div>
		<div class="footer">
			<p class="tiny_text"> 
			  &copy; 2013-2015 Giorgos Kappes <br />
			  Powered by <a class="footer_link" href="https://pages.github.com/">GitHub Pages</a><br />
				<script type="text/javascript">
					document.write("This page was last modified on: " + document.lastModified +" UTC+2");
				</script>
				<br /><br />
				<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0!"/></a>
				<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!"/></a>
			</p>
		</div>				
		<!-- Smooth scrolling --> 
		<script type="text/javascript" src="javascript/jquery.min.js"></script>		
		<script type="text/javascript" src= "javascript/smoothscroll.js"></script>
		<!-- Fixed nav bar --> 
		<script type="text/javascript" src="javascript/fixnav.js"></script>		
	</body>	
</html>
